body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

form button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

#password-list {
  margin-top: 20px;
}

#passwords li {
  background-color: #efefef;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}